/* Base Styles */
body{
   background:#141414;
   margin:0;
   font-family:arial;
}

header{
    background: #0d0d0d;
    padding:20px;
    text-align: center;
}

form{
    margin:20px;
    color: #eee;
}

form p{
    font-size: 18px;
    letter-spacing: 0.1em;
}

img{
    width: 100%;
}

/* Radio Styles */
input[type="radio"]{
    opacity: 0;
    width: 0;
    margin: 0;
}

label[for="male"],label[for="female"]{
    margin-bottom: 10px;
    display: inline-block;
    padding-left: 26px;
    background: url(images/checks.png) no-repeat;
    background-position: 0 -32px;
    line-height: 24px;
    cursor:pointer;
}

input:checked+label[for="male"],
input:checked+label[for="female"]{
    background-position: 0 0;
    color: #ce1010;
}

/* Checkbox Styles */
input[type="checkbox"]{
    opacity: 0;
    width: 0;
    margin: 0;
}

label[for="spider-man"],label[for="super-man"],label[for="hulk"],label[for="cat-woman"],label[for="captain-america"]{
    margin-bottom: 10px;
    display: inline-block;
    padding-left: 26px;
    background: url(images/checks.png) no-repeat;
    background-position: 0 -98px;
    line-height: 24px;
    cursor:pointer;
}

input:checked+label[for="spider-man"],
input:checked+label[for="super-man"],
input:checked+label[for="hulk"],
input:checked+label[for="cat-woman"],
input:checked+label[for="captain-america"]{
    background-position: 0 -65px;
    color: #ce1010;
}

/* Text inputs & fieldset Styles */
fieldset{
    padding: 20px;
    margin: 20px 0;
    border: 3px solid #222;
}

legend{
    padding: 10px;
    font-size: 18px;
    letter-spacing: 0.1em;
}

input[type="email"],
input[type="telephone"]{
    display: block;
    margin-bottom: 20px;
    padding: 10px 10px 10px 50px;
    border: 0;
    border-radius: 4px;
    background: url(images/inputs.png) no-repeat;
    background-color: #222;
    font-size: 16px;
    color: #fff;
    float: left;
    clear: both;
}

input[type="email"]{
   background-position: 7px 8px;
}

input[type="telephone"]{
    background-position: 7px -58px;
}

/* SelectBox Styles */
select{
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
    appearance: none;

    display: block;
    margin: 30px 0;
    padding: 10px 50px 10px 10px;
    background: url(images/select.png) no-repeat 95% center;
    background-color: #222;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 4px;
    width: 280px;
}

input[type="submit"]{
    background: #74b9ff;
    padding: 15px;
    color: #fff;
    font-size: 20px;
    letter-spacing: 0.1em;
    border-radius: 4px;
    border: 0;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.5);
    width: 280px;
}

/* Input Validation Styles */
input[type="email"]:valid,
input[type="telephone"]:valid{
    border: 2px solid #fff;
}

input[type="email"]:valid{
    background-position: 7px -22px;
}

input[type="telephone"]:valid{
    background-position: 7px -97px;
}

input[type="email"]:valid+.tick,
input[type="telephone"]:valid+.tick{
    background: url(images/tick.png) center;
    background-size: 100%;
    display: block;
    width:20px;
    height:20px;
    float: left;
    margin: 10px;
}